<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<h4>List products</h4>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"><br>#Id</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Thumbnail</th>
          </tr>
        </thead>  
      {{#each products}}
         <tbody>
          <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.code}} </td>
            <td>{{this.name}} </td>
            <td>{{this.description}} </td>
            <td>{{this.price}} </td>
            <td>{{this.stock}} </td>
            <td> <img src="{{this.thumbnail}}" alt="El enlace no esta disponible" width="60"></td>
          </tr>
      {{/each}}
        </tbody>
    </table>



<a href="http://localhost:8080/" type="button" class="btn btn-outline-primary">Back form</button></a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>